.selecionar-mes {
    height: 80px;
}

.mes-seletor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anterior,
.proximo {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 60px;
    color: var(--main-text-color);
}

.anterior:hover,
.proximo:hover {
    color: var(--hover-color);
}

.mes-atual {
    text-align: center;
    font-size: 28px;
    width: 180px;
}