.resumo-plano {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--second-bg-color);
  border-radius: 15px;
  position: relative;
  align-items: center;
}

.table-resume-planejamento::-webkit-scrollbar {
  display: none;
}

.table-resume-planejamento {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 315px;
  border-radius: 15px;
  overflow-y: auto;
}

.table {
  margin: 0;
}

.table th {
  background-color: var(--second-bg-color) !important;
  color: white !important;
}

.table tr:hover {
  color: white !important;
  opacity: 0.7;
  transition: ease-in 0.3s;
  cursor: pointer;
}