/* Sidebar */

.sidebar {
  height: 100vh;
  flex: 1;
  background: var(--second-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

.hidden {
  display: none;
}

.logomarca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 220px;
  margin: 0 auto;
  padding: 0 1rem;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  color: var(--main-text-color);
}

.menu-content {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.menu-item a,
.item {
  padding: 16px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;
  width: 100%;
  border-radius: 12px;
}

.menu-item a:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.menu-item i {
  padding: 10px;
}

.item:hover {
  cursor: pointer;
  background: var(--hover-color);
  transition: all 0.5s ease;
  border-radius: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.submenu {
  display: none;
}

.show {
  display: block;
  opacity: 1;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(90deg);
}

.show-submenu~.submenu {
  display: block;
}

ol,
ul {
  padding-left: 0;
  transition: all 0.5s ease;
}

#add-icon {
  font-size: 18px;
  margin: auto;
}

@media (max-width: 768px) {
  .logomarca {
    display: none;
  }
}