body {
  min-height: 100vh;
  background: radial-gradient(
    610px at 5.2% 51.6%,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 97.5%
  );
}

.side-bar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar .btn-logo {
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.side-bar .btn-logo a img {
  height: 56px;
  cursor: pointer;
}

.side-bar .btn-logo span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 32px;
  transition: 0.5s;
}

.side-bar .btn-logo span:hover {
  color: #fcd555;
  cursor: pointer;
}

.side-bar .menu {
  width: 100%;
}

.side-bar .menu .logo {
  width: 80px;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #fcd555;
  color: #000000;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}
