@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url(partials/modal.css);
@import url(partials/sidebar.css);
@import url(partials/main.css);
@import url(partials/navbar.css);
@import url(partials/saldo-mes.css);
@import url(partials/saldo-planejamento.css);
@import url(partials/resume-planejamento.css);
@import url(partials/main-planejamento.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
}

:root {
  --main-bg-color: #1d1d1d;
  --main-text-color: #ffffff;
  --second-bg-color: #2c2c2c;
  --hover-color: #198754;
  --despesa-color: #a71d1d;
  --receita-color: #198754;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

@media (max-width: 768px) {

  body::-webkit-scrollbar {
    display: none;
  }

  .app {
    flex-direction: column;
    height: 100vh;
  }

  .sidebar,
  .main {
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--second-bg-color);
  }

  .navbar button {
    color: var(--main-text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 6px 16px;
  }

  .navbar button i {
    font-size: 28px;
  }

  .section1,
  .section2 {
    flex-direction: column;
  }

  .card {
    width: 100%;
    min-height: 100px;
  }

  .card {
    width: 100%;
    min-height: 100px;
  }

  .card2 {
    flex: 3;
    width: 100%;
    min-height: 300px;
  }

  .card3 {
    flex: 1;
    width: 100%;
    height: 200px;
  }
}